/*both html files*/
* {
    box-sizing: border-box;
}

.navbar {
    opacity: 0.5;
    background-color: #f1f1f1;
    position: fixed;
}

.navbar a {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}

body{
	background-image: url(mountains.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 60px;
}

/*index.html*/
.logo{
    text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 100px;
	padding-top: 125px;
	color: #ffffff;
}
.option{
	display: inline-block;
	position: relative;
}

.liststyle, button{
	position: absolute;
	background-color: #f1f1f1;
	font-family: 'Nanum Gothic', sans-serif;
	opacity: 0.75;
	width: 120px;
	height: 25px;
	border: none;
	border-radius: 5px;
}

.button-set{
	text-align: center;
}

/*learnmore.html*/
.row{
    margin: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
}

